.button{
	width: 170px;	

    background-color: #f4511e;

    border: none;

    color: white;

    padding: 7px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;
}
.button:hover {

 background-color: #ffffff; 

 color: #f4511e;
}

input {
	
  width: 170px;	
  
  padding:4.5px;

  border: 0px solid #eee;

  border-left: 3px solid;

  border-left-color:salmon; 

  border-radius: 0px;

  transition: border-color .8s ease-out;
}

input:focus{

  outline:none;

  border: 1px solid #eee;

  border-left: 3px solid #888;

}